* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #e67e22;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 650px;
    height: 450px;
    background-color: black;
    color: white;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.3);
    display: flex;
}

.poster {
    aspect-ratio: 3 / 4;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail {
    padding:  2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    
}

.info span {
    color:darkgrey;
}

.info {
    display: flex;
    column-gap: 10px;
}

.read-more {
    color : yellow;
    text-decoration: underline;
}

.trailer {
    width: 100%;
    height: 35px;
    background-color: yellow;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
}